$pryClr: #8F19E7;
$secClr: #FEB804;
$background: #FEFAE0;
$text-black: #1C1C1C;
$white: #FFF;
$white2: #E5E5E5F9;
$grey: #414141;
$borderGrey: #E6E6E6;
$greyBg: #EBEBEB;
$pryBg: #8F19E760;

$font-weights: (
  "regular": 400,
  "medium": 500,
  "light-bold": 600,
  "bold": 700
);

$radius: (
  "2": 2px,
  "6": 6px,
  "8": 8px,
);
