@import "styles/partials/variables";
@import "styles/partials/functions";
@import "styles/partials/mixins";

.btn{
    border-radius: 4px;
    padding: .7rem .75rem;
    outline: none;
    border: none;
    max-width: fit-content;
    min-width: fit-content;
    display: flex;
    align-items: center;
    gap: .3rem;
    cursor: pointer;

    transition: background .3s ease-in-out;

    p{
        font-weight: 600;
        font-size: .75rem;
    }
}

.textBtn{
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    gap: .3rem;
    cursor: pointer;
    background: none;
    
    p{
        font-weight: 600;
        font-size: .75rem;
        color: $pryClr;
    }
}

.primary{
    background: $pryClr;
    color: $white;
}

.light{
    background: none;
    color: $text-black;

    &:hover{
        background: $pryBg;
    }
}

.moreIcon{
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    // overflow: hidden;
    cursor: pointer;
    border-radius: .125rem;
    border-radius: 7.5rem;
    z-index: 100;
    
    &:hover{
        background: $white;
    }

    .moreAction{
        position: absolute;
        bottom: 0;
        border: 1px solid $borderGrey;
        border-radius: .5rem;
        right: 1.5rem;
        width: 12.5rem;
        background: $white;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        >div{
            padding: 1rem;
            display: flex;
            align-items: center;
            gap: 1.5rem;

            >div{
                position: relative;
                height: 1.25rem;
                width: 1.25rem;
                overflow: hidden;
            }

            &:hover{
                background: $pryBg;
            }
        }

        .editAction{
            border-bottom: 1px solid $borderGrey;
        }

    }
}

.overlay{
    position: absolute;
    inset: 0;
    background: rgba($color: #000000, $alpha: .1);
    z-index: 99;
}

.filterOverlay{
    position: absolute;
    inset: 0;
    background: rgba($color: #000000, $alpha: 0);
    z-index: 99;
}

.filter{
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
    outline: none;
    border: none;
    max-width: fit-content;
    min-width: fit-content;
    display: flex;
    align-items: center;
    gap: .3rem;
    cursor: pointer;
    transition: background .3s ease-in-out;
    z-index: 100;

    >p{
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.625rem; /* 162.5% */
        letter-spacing: -0.00625rem;
        padding: .3rem 0 .3rem 1.25rem;
    }

    .number{
        display: flex;
        height: 1.25rem;
        padding: 0.125rem 0.625rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        background-color: $pryClr;
        border-radius: .5rem;

        >p{
            color: #FFF3F2;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.0625rem;
        }

    }

    .caretDown{
        position: relative;
        width: 1.25rem;
        height: 1.25rem;
        margin-right: 1.25rem;
    }

    .filterComponent{
        position: absolute;
        top: 3rem;
        left: 0;
        padding: 1rem;
        border: 1px solid $borderGrey;
        border-radius: .25rem;
        background: $white;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
        min-width: 12.5rem;
        z-index: 100;

        .filterOption{
            display: flex;
            align-items: center;
            padding: .5rem 0;
            transition: background-color 0.3s;
            gap: .5rem;

            &:hover {
                background-color: $pryBg; // Use the RGBA value for the specialRed color
            }

            .checkIcon{
                position: relative;
                width: 1rem;
                height: 1rem;
                user-select: none;
            }

            p{
                user-select: none;
                color: #5B5B5B;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.375rem; /* 157.143% */
                letter-spacing: -0.00625rem;
            }
        }
    }
}