.active {
    color: #8F19E7;
    font-weight: 600;
    font-size: 16px;
}

.article {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 5em;
}
